*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 251, 245);
    color: rgb(39, 39, 39);
}
.navbar{
    background-color: rgb(163, 138, 104);
}
.navbar a{
    color: #ffffff;
}

section{
    margin: 40px auto;
}

.card-img-overlay{
    align-content: center;
}
.hero img{
    filter: brightness(50%);
}

.card{
    margin: 10px 0px;
    left: 0;
    right: 0;
}

#productos .row{
    justify-content: center !important;
    margin: 0px auto;
}
#productos .row .col-xl-3{
    justify-self: center;
    margin:0px 0px;
}
.col .card{
    color: rgb(39, 39, 39);
    background-color: white;
}

.ac{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.precio{
    font-size: 20px;
}

.accordion-button {
    background-color: rgb(255, 251, 245);
}
.accordion-button:hover {
    background-color: rgb(163, 138, 104);
    color: white;
}
.accordion-button:active {
    background-color: rgb(163, 138, 104);
    color: white;
}
.accordion-button:focus {
    background-color: rgb(163, 138, 104);
    color: white;
}

#nosotros{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
}
#nosotros img{
    width: 100%;
}
#final img{
    filter: brightness(50%);
}

footer{
    background-color: rgb(163, 138, 104);
    padding: 30px;
}


.redes{
    font-size: 25px;
}

@media (max-width: 760px){
    .hero-content{
        top: 5em;
    }
}

